@model EkartApplication.Models.Customer
@{
    ViewData["Title"] = "CustomerDetails";
}

<h1>CustomerDetails</h1>


<table class="table">
    <tr>
        <th>Customer ID:</th>
        <td>@Model.CustomerId</td>
    </tr>
    <tr>
        <th>Company Name:</th>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <th>Contact Name:</th>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <th>Contact Title:</th>
        <td>@Model.ContactTitle</td>
    </tr>
 
</table>

<a asp-action="Index">Back to List</a>
